* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

.clearfix {
	clear: both;
}

body {
	font-family: "museo sans", sans-serif;
	font-size: 16px;
	line-height: 1.5;
	font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
	line-height: normal;
}

h1, h3 {
	text-transform: uppercase;
}

h1 {
	font-size: 3em;
	color: #fff;
}

h2 {
	color: #fff;
	font-size: 1.2em;
	font-weight: 500;
}

a {
	text-decoration: none;
	line-height: normal;
}

#section1 {
	width:100%;
	text-align: center;
	background-color: #e75140;
	color: #fff;
	padding: 30px 0;
	line-height: normal;
}

#section1 img {
	width: 80%;
	max-width: 600px;
	margin: auto;
	margin: 80px 0 20px 0;
}

.page-title h1 {
	font-weight: 100;
	font-size: 18px;
	padding: 15px;
	border: solid #fff 1px;
	width: 47%;
	margin: auto;
}

#section1 p {
	color: #000;
	text-transform: uppercase;
	font-size: 14px;
	margin-bottom: 0;
}

span.dash-bottom {
    height: 80px;
    width: 1px;
    border-right: 1px dashed #fff;
    display: block;
    position: relative;
    z-index: 1;
    left: 50%;
    margin-left: -1px;
}

#menu {
	display: inline;
	line-height: 1.8;
	text-transform: uppercase;
}

#menu a, #menu a:visited {
	color: #fff;
	line-height: .8;
}

#menu ul {
	list-style: none;
}


/* Section 2 - Work Experience */

#section2 {
	width:100%;
	background-color: #f48668;
	padding: 25px;
}

#section2 h2 {
	margin-bottom: 30px;
}

#section2 h3, #section2 h4 {
	margin-bottom: 0;
}

#section2 p {
	margin-top: 0;
}

.job {
	margin-bottom: 70px;
}

.arrow-box { 
	padding: 15px;
	position: relative; 
	background: rgba(255, 255, 255, 1); 
} 

.arrow-box:after { 
	bottom: 100%; 
	left: 50%; 
	border: solid transparent; 
	content: " "; 
	height: 0; 
	width: 0; 
	position: absolute; 
	pointer-events: none; 
	border-color: rgba(136, 183, 213, 0); 
	border-bottom-color: rgba(255, 255, 255, 1);  
	border-width: 20px; 
	margin-left: -80px; 
}

.tab {
	float: right;
	background-color: #4d4d4d;
	color: #fff;
	padding: 15px;
}
