* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

.clearfix {
	clear: both;
}

body {
	font-family: "museo sans", sans-serif;
	font-size: 16px;
	line-height: 1.5;
	font-weight: 300;
	min-width: 300px;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
	line-height: normal;
}

h1, h3 {
	text-transform: uppercase;
	background-color: inherit;
	z-index: 100;
}

h1 {
	font-size: 3em;
	color: #fff;
	margin-top: 0;
	padding: 40px 0 10px 0;
}

h2 {
	color: #fff;
	font-size: 1.2em;
	font-weight: 500;
}

a {
	text-decoration: none;
	line-height: normal;
}

section, footer {
	width: 100%;
	padding: 0 25px 25px 25px;
/*	height: 100vh;*/
	overflow: hidden;
}

#section1 {
	text-align: center;
	background-color: #e75140;
	color: #fff;
/*	padding: 30px 0;*/
	line-height: normal;
}

.height {
	height: 100vh;
}

#section1 img {
	width: 85%;
	max-width: 600px;
	margin: auto;
	margin: 40px 0 20px 0;
}

.page-title h1 {
	font-weight: 100;
	font-size: 18px;
	padding: 15px;
	border: solid #fff 1px;
	width: 165px;
	margin: auto;
}

#section1 p {
	color: #000;
	text-transform: uppercase;
	font-size: 12px;
	margin-bottom: 0;
}

span.dash-bottom {
	animation: Animate-dash 3s;
	-webkit-animation: Animate-dash 3s;
	-moz-animation: Animate-dash 3s;
	-o-animation: Animate-dash 3s;
    height: 7%;
    width: 1px;
    border-right: 1px dashed #fff;
    display: block;
    position: relative;
    z-index: 1;
    left: 50%;
    margin-left: -1px;
    margin-top: 5px;
}
@keyframes Animate-dash {
	from {height: 0;
	}
	to {height: 7%
	}
}
@-webkit-keyframes Animate-dash {
	from {height: 0;
	}
	to {height: 7%
	}
}
@-moz-keyframes Animate-dash {
	from {height: 0;
	}
	to {height: 7%
	}
}
@-o-keyframes Animate-dash {
	from {height: 0;
	}
	to {height: 7%
	}
}

nav {

}

#menu {
	display: inline;
	line-height: 1.8;
	text-transform: uppercase;
}

#menu a, #menu a:visited {
	color: #fff;
	line-height: .3;
}

#menu ul {
	list-style: none;
}


/* Section 2 - Work Experience */

#section2 {
	background-color: #f48668;
}

#section2 h1 {
	font-size: 2.8em;
}

#section2 h2, #section3 h2 {
	margin-bottom: 30px;
}

#section2 h3, #section2 h4 {
	margin-bottom: 0;
}

#section2 p {
	margin-top: 0;
}

.job {
	margin-bottom: 70px;
}

.arrow-box { 
	padding: 15px;
	position: relative; 
	background: rgba(255, 255, 255, 1); 
	z-index: 5;
} 

.arrow-box:after { 
	bottom: 100%; 
	left: 50%; 
	border: solid transparent; 
	content: " "; 
	height: 0; 
	width: 0; 
	position: absolute; 
	pointer-events: none; 
	border-color: rgba(136, 183, 213, 0); 
	border-bottom-color: rgba(255, 255, 255, 1);  
	border-width: 20px; 
	margin-left: -100px; 
}

.tab {
	float: right;
	background-color: #4d4d4d;
	color: #fff;
	padding: 15px;
}

/* Skills Section */

#section3 {
	background-color: #BCD8C1;
}

.skills {
	margin-bottom: 60px;
}

.skill-bar {
	width: 100%;
	height: 45px;
	position: relative;
	background: #fff;
	margin: 20px auto;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#skill-html {
 width: 90%;
 animation: Animate-HTML 4s;
 -webkit-animation: Animate-HTML 4s;
 -moz-animation: Animate-HTML 4s;
 -o-animation: Animate-HTML 4s;
 height: 45px;
 position: absolute;
 background-color: #e75140;
 -webkit-border-radius: 3px;
 -moz-border-radius: 3px;
 border-radius: 3px;
 }
 @keyframes Animate-HTML {
 a from {width: 10px;
 }
 to {width: 90%
 }
 }
 @-webkit-keyframes Animate-HTML {
 from {width: 10px;
 }
 to {width: 90%
 }
 }
 @-moz-keyframes Animate-HTML {
 from {width: 10px;
 }
 to {width: 90%
 }
 }
 @-o-keyframes Animate-HTML {
 from {width: 10px;
 }
 to {width: 90%
 }
 }

 #skill-css {
 width: 70%;
 animation: Animate-CSS 4s;
 -webkit-animation: Animate-CSS 4s;
 -moz-animation: Animate-CSS 4s;
 -o-animation: Animate-CSS 4s;
 height: 45px;
 position: absolute;
 background-color: #e75140;
 -webkit-border-radius: 3px;
 -moz-border-radius: 3px;
 border-radius: 3px;
 }
 @keyframes Animate-CSS {
 a from {width: 10px;
 }
 to {width: 70%
 }
 }
 @-webkit-keyframes Animate-CSS {
 from {width: 10px;
 }
 to {width: 70%
 }
 }
 @-moz-keyframes Animate-CSS {
 from {width: 10px;
 }
 to {width: 70%
 }
 }
 @-o-keyframes Animate-CSS {
 from {width: 10px;
 }
 to {width: 70%
 }
 }

#skill-js {
 width: 50%;
 animation: Animate-js 4s;
 -webkit-animation: Animate-js 4s;
 -moz-animation: Animate-js 4s;
 -o-animation: Animate-js 4s;
 height: 45px;
 position: absolute;
 background-color: #e75140;
 -webkit-border-radius: 3px;
 -moz-border-radius: 3px;
 border-radius: 3px;
 }
 @keyframes Animate-js {
 a from {width: 10px;
 }
 to {width: 50%
 }
 }
 @-webkit-keyframes Animate-js {
 from {width: 10px;
 }
 to {width: 50%
 }
 }
 @-moz-keyframes AAnimate-js {
 from {width: 10px;
 }
 to {width: 50%
 }
 }
 @-o-keyframes Animate-js {
 from {width: 10px;
 }
 to {width: 50%
 }
 }

 #skill-jQuery {
	animation: Animate-jQuery 5s;
	-webkit-animation: Animate-jQuery 5s;
	-moz-animation: Animate-jQuery 5s;
	-o-animation: Animate-jQuery 5s;
	width: 70%;
	height: 45px;
	position: absolute;
	background-color: #e75140;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
@keyframes Animate-jQuery {
 from {
 width: 10px;
}
to {
	width: 70%
}
}
@-webkit-keyframes Animate-jQuery {
 from {
 width: 10px;
}
to {
	width: 70%
}
}
@-moz-keyframes Animate-jQuery {
 from {
 width: 10px;
}
to {
	width: 70%
}
}
@-o-keyframes Animate-jQuery {
 from {
 width: 10px;
}
to {
	width: 70%
}
}
#skill-php {
	animation: Animate-PHP 4s;
	-webkit-animation: Animate-PHP 4s;
	-moz-animation: Animate-PHP 4s;
	-o-animation: Animate-PHP 4s;
	width: 50%;
	height: 45px;
	position: absolute;
	background-color: #e75140;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
@keyframes Animate-PHP {
 from {
 width: 10px;
}
to {
	width: 50%
}
}
@-webkit-keyframes Animate-PHP {
 from {
 width: 10px;
}
to {
	width: 50%
}
}
@-moz-keyframes Animate-PHP {
 from {
 width: 10px;
}
to {
	width: 50%
}
}
@-o-keyframes Animate-PHP {
 from {
 width: 10px;
}
to {
	width: 50%
}
}
#skill-wordpress {
 width: 60%;
 animation: Animate-Wordpress 4s;
 -webkit-animation: Wordpress 4s;
 -moz-animation: Wordpress 4s;
 -o-animation: Wordpress 4s;
 height: 45px;
 position: absolute;
 background-color: #e75140;
 -webkit-border-radius: 3px;
 -moz-border-radius: 3px;
 border-radius: 3px;
 }
 @keyframes Animate-Wordpress {
 a from {width: 10px;
 }
 to {width: 60%
 }
 }
 @-webkit-keyframes Animate-Wordpress {
 from {width: 10px;
 }
 to {width: 60%
 }
 }
 @-moz-keyframes AAnimate-Wordpress {
 from {width: 10px;
 }
 to {width: 60%
 }
 }
 @-o-keyframes Animate-Wordpress {
 from {width: 10px;
 }
 to {width: 60%
 }
 }

#skill-photoshop {
	animation: Animate-Photoshop 5s;
	-webkit-animation: Animate-Photoshop 5s;
	-moz-animation: Animate-Photoshop 5s;
	-o-animation: Animate-Photoshop 5s;
	width: 70%;
	height: 45px;
	position: absolute;
	background-color: #E3D985;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
@keyframes Animate-Photoshop {
 from {
 width: 10px;
}
to {
	width: 70%
}
}
@-webkit-keyframes Animate-Photoshop {
 from {
 width: 10px;
}
to {
	width: 70%
}
}
@-moz-keyframes Animate-Photoshop {
 from {
 width: 10px;
}
to {
	width: 70%
}
}
@-o-keyframes Animate-Photoshop {
 from {
 width: 10px;
}
to {
	width: 70%
}
}

#skill-illustrator {
	animation: Animate-Illustrator 5s;
	-webkit-animation: Animate-Illustrator 5s;
	-moz-animation: Animate-Illustrator 5s;
	-o-animation: Animate-Illustrator 5s;
	width: 65%;
	height: 45px;
	position: absolute;
	background-color: #E3D985;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
@keyframes Animate-Illustrator {
 from {
 width: 10px;
}
to {
	width: 65%
}
}
@-webkit-keyframes Animate-Illustrator {
 from {
 width: 10px;
}
to {
	width: 65%
}
}
@-moz-keyframes Animate-Illustrator {
 from {
 width: 10px;
}
to {
	width: 65%
}
}
@-o-keyframes Animate-Illustrator {
 from {
 width: 10px;
}
to {
	width: 65%
}
}

#skill-indesign {
	animation: Animate-InDesign 5s;
	-webkit-animation: Animate-InDesign 5s;
	-moz-animation: Animate-InDesign 5s;
	-o-animation: Animate-InDesign 5s;
	width: 65%;
	height: 45px;
	position: absolute;
	background-color: #E3D985;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
@keyframes Animate-InDesign {
 from {
 width: 10px;
}
to {
	width: 65%
}
}
@-webkit-keyframes Animate-InDesign {
 from {
 width: 10px;
}
to {
	width: 65%
}
}
@-moz-keyframes Animate-InDesign {
 from {
 width: 10px;
}
to {
	width: 65%
}
}
@-o-keyframes Animate-InDesign {
 from {
 width: 10px;
}
to {
	width: 65%
}
}

#skill-dreamweaver {
	animation: Animate-Dreamweaver 5s;
	-webkit-animation: Animate-Dreamweaver 5s;
	-moz-animation: Animate-Dreamweaver 5s;
	-o-animation: Animate-Dreamweaver 5s;
	width: 70%;
	height: 45px;
	position: absolute;
	background-color: #E3D985;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
@keyframes Animate-Dreamweaver {
 from {
 width: 10px;
}
to {
	width: 70%
}
}
@-webkit-keyframes Animate-Dreamweaver {
 from {
 width: 10px;
}
to {
	width: 70%
}
}
@-moz-keyframes Animate-Dreamweaver {
 from {
 width: 10px;
}
to {
	width: 70%
}
}
@-o-keyframes Animate-Dreamweaver {
 from {
 width: 10px;
}
to {
	width: 70%
}
}

#skill-premiere {
	animation: Animate-Premiere 5s;
	-webkit-animation: Animate-Premiere 5s;
	-moz-animation: Animate-Premiere 5s;
	-o-animation: Animate-Premiere 5s;
	width: 30%;
	height: 45px;
	position: absolute;
	background-color: #E3D985;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
@keyframes Animate-Premiere {
 from {
 width: 10px;
}
to {
	width: 30%
}
}
@-webkit-keyframes Animate-Premiere {
 from {
 width: 10px;
}
to {
	width: 30%
}
}
@-moz-keyframes Animate-Premiere {
 from {
 width: 10px;
}
to {
	width: 30%
}
}
@-o-keyframes Animate-Premiere {
 from {
 width: 10px;
}
to {
	width: 30%
}
}

#skill-photography {
	animation: Animate-Photography 5s;
	-webkit-animation: Animate-Photography 5s;
	-moz-animation: Animate-Photography 5s;
	-o-animation: Animate-Photography 5s;
	width: 60%;
	height: 45px;
	position: absolute;
	background-color: #f48668;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
@keyframes Animate-Photography {
 from {
 width: 10px;
}
to {
	width: 60%
}
}
@-webkit-keyframes Animate-Photography {
 from {
 width: 10px;
}
to {
	width: 60%
}
}
@-moz-keyframes Animate-Photography {
 from {
 width: 10px;
}
to {
	width: 60%
}
}
@-o-keyframes Animate-Photography {
 from {
 width: 10px;
}
to {
	width: 60%
}
}

#skill-ukulele {
	animation: Animate-Ukulele 5s;
	-webkit-animation: Animate-Ukulele 5s;
	-moz-animation: Animate-Ukulele 5s;
	-o-animation: Animate-Ukulele 5s;
	width: 30%;
	height: 45px;
	position: absolute;
	background-color: #f48668;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
@keyframes Animate-Ukulele {
 from {
 width: 10px;
}
to {
	width: 30%
}
}
@-webkit-keyframes Animate-Ukulele {
 from {
 width: 10px;
}
to {
	width: 30%
}
}
@-moz-keyframes Animate-Ukulele {
 from {
 width: 10px;
}
to {
	width: 30%
}
}
@-o-keyframes Animate-Ukulele {
 from {
 width: 10px;
}
to {
	width: 30%
}
}

#skill-dance {
	animation: Animate-Dance 5s;
	-webkit-animation: Animate-Dance 5s;
	-moz-animation: Animate-Dance 5s;
	-o-animation: Animate-Dance 5s;
	width: 100%;
	height: 45px;
	position: absolute;
	background-color: #f48668;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
@keyframes Animate-Dance {
 from {
 width: 10px;
}
to {
	width: 100%
}
}
@-webkit-keyframes Animate-Dance {
 from {
 width: 10px;
}
to {
	width: 100%
}
}
@-moz-keyframes Animate-Dance {
 from {
 width: 10px;
}
to {
	width: 100%
}
}
@-o-keyframes Animate-Dance {
 from {
 width: 10px;
}
to {
	width: 100%
}
}


/* Education Section */

#section4 {
	background-color: #E3D985;
	font-size: .9em;
}

#section4 h4, #section4 p {
	margin: 0;
}

#section4 h2 {
	margin: 40px 0 0 0;
}

#section4 h3 {
	margin: 0 0 40px 0;
}

#section4 h5 {
	margin: 30px 0 0 0;
	text-transform: uppercase;
}

#section4 ul {
	list-style-type: none;
	padding: 0;
}

#section4 ul li {
	padding-bottom: 10px;
}


/* Testimonials Section */

#section5 {
	background-color: #f48668;
}

#section5 h1 {
	font-size: 2.3em;
}

.testimonial {
	padding: 30px 50px;
}

.quote {
	font-size: 1.2em;
	font-style: italic;
}

.source {
	font-size: .8em;
	margin-top: 10px;
}

/* Footer Section */

footer {
	background-color: #e75140;
	color: #fff;
	font-size: .8em;
}

footer a {
	color: #fff;
	text-align: center;
}

#phone, #email {
	font-size: 18px;
}

#copy {
	text-align: center;
	margin-top: 60px;
}


@media (min-width: 715px) {

#section1 img {
	margin-top: 150px;
}

h1, #section2 h1, #section3 h1, #section4 h1, #section5 h1{
	font-size: 4.5em;
}

#section2 h2 {
	float: left;
	width: 30%;
}
.arrow-box {
	width: 65%;
	float: right;
	margin-bottom: 15px;
}
.arrow-box:after { 
	opacity: 0; 
}

.skills {
	width: 45%;
	float: left;
	margin-right: 5%;
}

.other {
	clear: both;
}

.degree {
	float: left;
	clear: left;
	width: 30%;
}

#section4 h2 {
	margin-top: 0;
}

}

@media (min-width: 1000px) {

.skills {
	width: 30%;
	float: left;
	margin-right: 3.33%;
}
.other {
	clear: none;
}

.testimonial {
	margin-top: 10px;
}

#phone, #email {
	font-size: 2.5em;
}


}
